# OSX
#
.DS_Store

# Thumbnails
._*

# Xcode
#
android/build/
android/app/.cxx

android/app/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
#project.xcworkspace

# Android/IntelliJ
#
#build/
.idea
.gradle
local.properties
*.iml
*.hprof

# Gradle
#/build/
/packages/react-native-gradle-plugin/build/
/packages/rn-tester/build
/packages/rn-tester/android/app/.cxx/
/packages/rn-tester/android/app/build/
/packages/rn-tester/android/app/gradle/
/packages/rn-tester/android/app/gradlew
/packages/rn-tester/android/app/gradlew.bat
/ReactAndroid/build/
/ReactAndroid/.cxx/
/ReactAndroid/gradle/
/ReactAndroid/gradlew
/ReactAndroid/gradlew.bat
/ReactAndroid/hermes-engine/build/
/ReactAndroid/hermes-engine/.cxx/
/template/android/app/build/
/template/android/build/

# Android Studio
.project
.settings
.classpath

# Watchman
.watchmanconfig

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
*.log
.nvm
package-lock.json

# BUCK
buck-out/
\.buckd/
#*.keystore
#debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
/ios/Podfile.lock

# Ignore RNTester specific Pods, but keep the __offline_mirrors__ here.
/packages/rn-tester/Pods/*
!/packages/rn-tester/Pods/__offline_mirrors__

# Visual studio
.vscode
.vs

# Android memory profiler files
*.hprof

# react
.buckconfig
.eslintrc.js
.flowconfig
.gitattributes
.prettierrc.js
.watchmanconfig
.ruby-version

#Added new 
__tests__/
/ios/vendor
/ios/build
